<!-- web.xml -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
         version="3.1">
    <display-name>BankApplication</display-name>
	<welcome-file-list>
	<welcome-file>admin_login.html</welcome-file>
	</welcome-file-list>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterCustomerServlet</servlet-name>
        <servlet-class>servlets.RegisterCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterCustomerServlet</servlet-name>
        <url-pattern>/registerCustomer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <servlet-class>servlets.CustomerLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <url-pattern>/customerLogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomerDashboardServlet</servlet-name>
        <servlet-class>servlets.CustomerDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerDashboardServlet</servlet-name>
        <url-pattern>/customerDashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DepositServlet</servlet-name>
        <servlet-class>servlets.DepositServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepositServlet</servlet-name>
        <url-pattern>/deposit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WithdrawServlet</servlet-name>
        <servlet-class>servlets.WithdrawServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WithdrawServlet</servlet-name>
        <url-pattern>/withdraw</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GeneratePDFServlet</servlet-name>
        <servlet-class>servlets.GeneratePDFServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeneratePDFServlet</servlet-name>
        <url-pattern>/generatePDF</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
